<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZiQ6edaIvQZ-86Sp0xalUn19rTurdaiU</string>
	<key>GCM_SENDER_ID</key>
	<string>266913165065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huang.AuthTemplate</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-41845</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-41845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266913165065:ios:9206a9fde9d2bc6c31add8</string>
</dict>
</plist>